:root {
    --level0TerrainColor: rgb(35, 114, 170);
    --level4TerrainColor: #9DE0E9;
    --sandTerrainColor: #E8E0D1;
}

body{
    margin: 0;
    background-color: var(--level0TerrainColor);
    overflow: scroll;
}

#blob {
    position: absolute;
    filter: drop-shadow(2px 10px 10px rgb(47 0 64 / 0.35));
    z-index: -10;
}

#beach {
    height: 100vh;
    background-color: var(--sandTerrainColor);
    position: relative;
}

#beach-text {
    width: 90%;
    bottom: 30vh;
    position: absolute;
}

#boy {
    margin: auto;
    position: absolute;
    width: 3vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#beach-waves {
    height: 20vh;
    min-height: 5vh;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin-top: 25px;
}

.wave {
    height: 100%;
    position: absolute;
    bottom: 0;
    animation: wave 7s ease -1.25s infinite;
    z-index: 1;
  }

#wave-connector {
    position: absolute;
    fill: var(--level4TerrainColor);
    bottom: 0;
    animation: stretch 7s ease -1.25s infinite;
}

  @keyframes wave {
    0%,
    100% {
      transform: translate(0, -5vh);
    }
    50% {
      transform: translate(0, 0);
    }
  }

  @keyframes stretch {
    0%,
    100% {
        height: 5vh;
    }
    50% {
        height: 0;
    }
  }
  
  /* https://www.istockphoto.com/nl/video/tropisch-strand-met-roze-zand-luchtfoto-top-uitzicht-leeg-en-schoon-strand-gm1298248970-391142629 */
  